.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
}
.toppart {
  display: flex;
  flex-direction: row;
  height: 85vh;
  width: 100vw;
  padding: 20px;
  padding-top: 35px;
  gap: 15px;
}

.bottompart {
  background-color: #dbd7d2;
  display: flex;
  flex-direction: row;
  height: 15vh;
  border: 1px solid black;
  margin: 20px;
  margin-top: 0px;
  border-radius: 15px;
}

.PlayerContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  border: 5px;
  border-color: #dbd7d2;
  box-sizing: border-box;
  gap: 10px;
}
.whitesvg {
  filter: invert(1) brightness(100%);
}

.onePlayer {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}
.screenOne {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
  gap: 10px;
}
.PlayerContainer.screenOne > div,
.PlayerContainer.screenOne video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.PlayerContainer.screenOne > :nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 15px;
}

.PlayerContainer.onePlayer video {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.PlayerContainer.twoPlayers > div,
.PlayerContainer.twoPlayers video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.twoPlayers {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.screenTwo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
  gap: 10px;
}
.PlayerContainer.screenTwo > div,
.PlayerContainer.screenTwo video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.PlayerContainer.screenTwo > :nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
  object-fit: contain;
  border: 2px solid black;
  border-radius: 15px;
}
.PlayerContainer.screenTwo > :nth-child(2) {
  grid-column: 4/ 5; /* Place in the third column */
  grid-row: 1 / 2;
}
.PlayerContainer.screenTwo > :nth-child(3) {
  grid-column: 4 / 5; /* Place in the third column */
  grid-row: 2 / 3;
}

.threePlayers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
  gap: 10px;
}
.PlayerContainer.threePlayers > div,
.PlayerContainer.threePlayers video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.PlayerContainer.threePlayers > :nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 100%;
}

.PlayerContainer.threePlayers > :nth-child(2),
.PlayerContainer.threePlayers > :nth-child(3) {
  grid-column: 2 / 3;
}
.screenThree {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  gap: 10px;
}
.PlayerContainer.screenThree > div,
.PlayerContainer.screenThree video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.PlayerContainer.screenThree > div,
.PlayerContainer.screenThree video > :nth-child(1) {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.PlayerContainer.screenThree > :nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/4;
  height: 100%;
  width: 100%;
  object-fit: contain;
  border: 2px solid black;
  border-radius: 15px;
}
.PlayerContainer.screenThree > :nth-child(2) {
  grid-column: 4 / 5; /* Place in the third column */
  grid-row: 1 / 2;
}
.PlayerContainer.screenThree > :nth-child(3) {
  grid-column: 4 / 5; /* Place in the third column */
  grid-row: 2 / 3;
}
.PlayerContainer.screenThree > :nth-child(4) {
  grid-column: 4 / 5; /* Place in the third column */
  grid-row: 3 / 4;
}

.PlayerContainer.fourPlayers > div,
.PlayerContainer.fourPlayers video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.fourPlayers {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 10px;
}
.screenFour {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.PlayerContainer.screenFour > div,
.PlayerContainer.screenFour video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.PlayerContainer.screenFour > div,
.PlayerContainer.screenFour video > :nth-child(1) {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.PlayerContainer.screenFour > :nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/5;
  height: 100%;
  width: 100%;
  object-fit: contain;
  border: 2px solid black;
  border-radius: 15px;
}
.PlayerContainer.screenFour > :nth-child(2) {
  grid-column: 4 / 5; /* Place in the third column */
  grid-row: 1 / 2;
}
.PlayerContainer.screenFour > :nth-child(3) {
  grid-column: 4 / 5; /* Place in the third column */
  grid-row: 2 / 3;
}
.PlayerContainer.screenFour > :nth-child(4) {
  grid-column: 4 / 5; /* Place in the third column */
  grid-row: 3 / 4;
}

.PlayerContainer.screenFour > :nth-child(4) {
  grid-column: 4 / 5; /* Place in the third column */
  grid-row: 4 / 5;
}

.PlayerContainer.fivePlayers > div,
.PlayerContainer.fivePlayers video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.fivePlayers {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.PlayerContainer.sixPlayers > div,
.PlayerContainer.sixPlayers video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sixPlayers {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (max-width: 538px) {
  .toppart {
    height: 90vh;
  }
  .bottompart {
    height: 10vh;
  }
  .twoPlayers {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
    gap: 10px;
  }
  .PlayerContainer.twoPlayers > div,
  .PlayerContainer.twoPlayers video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.datalist {
  width: 25%;
  height: 100%;
  background-color: #dbd7d2;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
}

.chatcontainer {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  max-width: 25%;
  width: 25%;
  height: 100%;
  background-color: #dbd7d2;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
  justify-content: end;
}

.chatArea {
  display: flex;
  flex-direction: column-reverse;

  margin-top: 3;
  margin-right: 2px;
  margin-bottom: 10px;
  overflow: auto;
}

.form {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 8px 0px 8px 0px;
}

.form button {
  width: 25%;
  box-sizing: border-box;
  font-size: 1rem;
  border: 2px solid;
  border-radius: 25px;
  background-color: black;
  margin: 0px 0px 0px 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.input {
  box-sizing: border-box;
  padding: 10px;
  font-size: 1rem;
  width: 85%;
  border: 2px solid;
  border-radius: 25px;
}
